@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 90%;
  height: 100vh;
  top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

.calculator {
  border: 1px solid #717377;
  padding: 10px;
  border-radius: 16px;
  background: transparent;
  box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}

input {
  width: 200px;
  border: none;
  padding: 4px;
  margin: 4px;
  background: transparent;
  box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
  font-size: 25px;
  text-align: right;
  cursor: pointer;
  color: #ffffff;
}

input::placeholder {
  color: #ffffff;
  background-color: #7173772b;
  border-radius: 20px;
}

button {
  border: none;
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 50%;
  background: transparent;
  color: #ffffff;
  font-size: 20px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.equalBtn {
  background-color: #148bfb;
}

.operator {
  color: #0ab5ee;
}
